* {box-sizing:border-box;}
/*local or web(@import) 글꼴 작성위치*/
@font-face {
    font-family: '혼';
    src: url(../fonts/hon.ttf);
}
@font-face {
    font-family: '동콩_기본';
    src: url(../fonts/dongkond_r.ttf);
}
@font-face {
    font-family: '동콩_굵게';
    src: url(../fonts/dongkong_b.ttf);
}
/* reset.css */
html,body,
h1,h2,h3,h4,h5,h6,p,blockquote,address,
span,strong,em,q,sup,sub,del,s,img,
div,header,nav,aside,main,footer,article,figure,figcaption,
section,video,table,thead,tbody,tfoot,tr,th,td,ul,ol,li,dl,dt,dd,
form,fieldset,legend,input,select,option,button,label,textarea 
    {
    margin:0; padding:0; line-height:1.0;
    font-size:16px; font-style:normal; font-weight:normal; text-decoration:none;
}
th {text-align:left;}
table,tr,th,td {border-collapse: collapse;}
ul,ol,li {list-style:none;}
a {color:#000; text-decoration: none;}
input {outline:none; border:0;}
button {cursor:pionter; border:0;}
fieldset {border:0;}
.skip {display:none;}